In [1]:
import pandas as pd

# Carga de datasets
df_all = pd.read_csv('../../../dataset/cleaned_filtered/df_filtrado_limpio.csv', sep=',')

df_all.head()

,ID,DB_CLI_edad,DB_CLI_ingreso,DB_CLI_der_edad_ingreso_relativa,DB_SAL_CUE_dos_meses_min_saldo_ahorros,DB_SAL_CUE_dos_meses_sum_saldo_ahorros,DB_SAL_CUE_dos_meses_prom_saldo_ahorros,DB_SAL_CUE_tres_meses_min_saldo_ahorros,DB_SAL_CUE_tres_meses_sum_saldo_ahorros,DB_SAL_CUE_tres_meses_prom_saldo_ahorros,...,DB_CONS_dos_meses_sum_compra_salud,DB_CONS_dos_meses_prom_compra_salud,DB_CONS_dos_meses_sum_compra_transporte,DB_CONS_tres_meses_min_compra_supermercado,DB_CONS_tres_meses_sum_compra_supermercado,DB_CONS_tres_meses_max_compra_restaurante,DB_CONS_tres_meses_sum_compra_salud,DB_CONS_tres_meses_prom_compra_salud,DB_CONS_tres_meses_sum_compra_transporte,target
0,4d5a33701cb5b30b0b0a924d80de4ae78fbd0b54e2117f...,3.8498,4.6527,0.959359,2.6140,5.7894,2.89470,2.6140,8.8493,2.949767,...,6.236300,3.118150,0.000000,0.0000,3.7176,0.0000,6.2363,3.11815,0.0000,0
1,56fe8d95f1af9103e92ce450ece54b4647ccb001a866e6...,4.1613,4.1732,0.808556,2.4541,5.9144,2.95720,2.4541,8.6121,2.870700,...,2.026800,1.013400,0.000000,0.0000,5.3285,2.5398,2.0268,0.67560,1.9083,1
2,a24b0f3338d73d81c1c281fbf77a517b2288924fdc30ba...,4.3364,5.0000,0.936961,3.3907,7.2063,3.60315,3.3907,10.9095,3.636500,...,0.000000,0.000000,0.000000,3.2718,7.4401,0.0000,0.0000,0.00000,0.0000,0
3,413e595a556a13551bbcc4f164a2f2e63b0909decbd094...,3.8044,4.2393,0.882379,0.4732,1.1810,0.59050,0.4732,1.1810,0.590500,...,0.000000,0.000000,0.000000,3.3718,7.4794,3.6069,0.0000,0.00000,0.0000,0
4,b0652801dc333a8a19e24eec35a783ce73f337673100c0...,4.6407,4.0411,0.716418,2.6903,5.9660,2.98300,2.6903,8.7105,2.903500,...,0.001161,0.003251,3.737676,0.0000,0.0000,0.0000,0.0000,0.00000,4.0920,0

In [2]:
# guarda ID + DB_SAL_CUE_ + DB_CLI_ + target en un csv
vars_seleccionadas = [col for col in df_all.columns if col.startswith('DB_SAL_CUE_') or col.startswith('DB_CLI_') or col.startswith('DB_SAL_CRE_')]
df_sald_cue_clientes_target = df_all[['ID'] + vars_seleccionadas + ['target']].copy()
df_sald_cue_clientes_target.to_csv('../../../dataset/cleaned_filtered/df_sald_cue_clientes_target.csv', index=False, encoding='utf-8')


# guarda ID + DB_SAL_CUE_ + DB_CLI_ + DB_SAL_CRE_ + DB_CONS_ + target en un csv
vars_seleccionadas = [col for col in df_all.columns if col.startswith('DB_SAL_CUE_') or col.startswith('DB_CLI_') or col.startswith('DB_SAL_CRE_') or col.startswith('DB_CONS_')]
df_sald_cue_clientes_cre_cons_target = df_all[['ID'] + vars_seleccionadas + ['target']].copy()
df_sald_cue_clientes_cre_cons_target.to_csv('../../../dataset/cleaned_filtered/df_sald_cue_clientes_cre_cons_target.csv', index=False, encoding='utf-8')

In [3]:
# Mostrar cantidad de columnas y filas
print("ðŸ§© df_sald_cue_clientes_target:")
print(f"  Filas: {df_sald_cue_clientes_target.shape[0]:,}")
print(f"  Columnas: {df_sald_cue_clientes_target.shape[1]:,}\n")

ðŸ§© df_sald_cue_clientes_target:
  Filas: 193,898
  Columnas: 44

In [4]:
# Mostrar cantidad de columnas y filas
print("ðŸ§© df_sald_cue_clientes_cre_cons_target:")
print(f"  Filas: {df_sald_cue_clientes_cre_cons_target.shape[0]:,}")
print(f"  Columnas: {df_sald_cue_clientes_cre_cons_target.shape[1]:,}\n")

ðŸ§© df_sald_cue_clientes_cre_cons_target:
  Filas: 193,898
  Columnas: 54